body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex; /* apply flexbox */
  flex-wrap: wrap; /* allow items to wrap onto next line */
  justify-content: space-around; /* space items evenly */
}

.profile {
  width: 30%; /* adjust size as needed */
  margin: 1em; /* space around each item */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box; /* ensure padding and border are included in the item's width */
}

.profile-img {
  font-size: 100px; /* adjust size as needed */
  color: yellow; /* adjust color as needed */
  margin-right: 20px;
}

.profile-details {
  overflow: auto;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
}

.profile-interests,
.profile-goodtoknow {
  margin-top: 10px;
}
